<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="LoginVO" type="com.mycompany.proj.login.model.LoginVO"/>
		<typeAlias alias="PostsVO" type="com.mycompany.proj.posts.model.PostsVO"/>
	</typeAliases>
</configuration>