<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PostsMapper">
    
     <select id="selectPostsList" parameterType="PostsVO" resultType="PostsVO">
        select *
        from t_posts
    </select>
    
    <select id="selectPostInfo" parameterType="PostsVO" resultType="PostsVO">
        select *
        from t_posts
        where post_no = #{post_no}
    </select>
    
    <insert id="createPostInfo" parameterType="PostsVO">
        insert into t_posts (
        	post_no
        	, user_id
        	, title
        	, content
        	, created_at
        	, updated_at
        ) values (
        	nextval(s_posts)
        	, #{user_id}
        	, #{title}
        	, #{content}
        	, CURRENT_TIMESTAMP
        	, CURRENT_TIMESTAMP
        )
    </insert>
    
    <delete id="deletePostInfo" parameterType="PostsVO">
    	delete
    	from t_posts
    	where post_no = #{post_no} 
    </delete>
</mapper>
